# This work flow will create a tag when merging to stage
name: Generate Tag

on: 
  workflow_dispatch:
  pull_request:
    types:
      - closed
    branches: [ stage ]
  
    
env:
  VERSION_FILE: version.properties
  VERSION_EXTRACT_PATTERN: '(?<=VERSION_NUMBER=).+'
  
jobs:
  Tagging:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3
      - name: Get Spacejam version
        uses: HardNorth/github-version-generate@v1.1.1
        with:
          version-source: file
          version-file: ${{ env.VERSION_FILE }}
          version-file-extraction-pattern: ${{ env.VERSION_EXTRACT_PATTERN }}
      - name: Tagging release
        uses: rickstaa/action-create-tag@v1
        with:
          tag: "${{ env.CURRENT_VERSION }}"
  ChangeLog:
    needs: [Tagging]
    runs-on: ubuntu-latest
    steps:
      - name: Changelog
        uses: scottbrenner/generate-changelog-action@master
        id: Changelog
  CreateRelease:
    needs: [ChangeLog]
    runs-on: ubuntu-latest
    steps:
      - name: CreateRelease
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.CURRENT_VERSION }}
          release_name: Release ${{ env.CURRENT_VERSION }}
          body: |
            ${{ steps.Changelog.outputs.changelog }}
          draft: false
          prerelease: false
