# Generate Release Notes
#
# This github action allows us to tag, create changelog, create a github release and notify slack Spacejam's slack channel.
# The event is triggered on demand or when a pull request has been closed on master.
# The "on closed" filter is temporary. A better solution would be to trigger on merge but the "pull request" action
# does not have this type available.
name: Generate Release Notes

on: 
  workflow_dispatch:
  pull_request:
    types:
      - closed
    branches: [ master ]

env:
  VERSION_FILE: version.properties
  VERSION_EXTRACT_PATTERN: '(?<=VERSION_NUMBER=).+'
  
jobs: 
  Release:
    runs-on: ubuntu-latest
    steps:
        # This work flow will create a tag when merging to stage
      - name: Checkout branch
        uses: actions/checkout@v3
      - name: Get Spacejam version
        uses: HardNorth/github-version-generate@v1.1.1
        with:
          version-source: file
          version-file: ${{ env.VERSION_FILE }}
          version-file-extraction-pattern: ${{ env.VERSION_EXTRACT_PATTERN }}

        # Creates a tag based on the variable found in versions.properties file
      - name: Tagging release
        uses: rickstaa/action-create-tag@v1
        with:
          tag: "${{ env.CURRENT_VERSION }}"

      - name: Create Changelog
        id: changelog-ci
        uses: saadmk11/changelog-ci@v1.0.0
        with:
          release_version: ${{ env.CURRENT_VERSION }}
          github_token: ${{ secrets.YOUR_GITHUB_TOKEN }}
      
      - name: Print out changelog
        run: |
          echo "${{ steps.changelog-ci.outputs.changelog }}"
          echo "${{ steps.changelog-ci.outputs.changelog }}" >> $GITHUB_STEP_SUMMARY

#        # Generates Change Log or Update existing
#      - name: Update CHANGELOG
#        id: changelog
#        uses: Requarks/changelog-action@v1
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#          tag: ${{ env.CURRENT_VERSION }}

        # Creates release based on Change log
      - name: CreateRelease
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "${{ env.CURRENT_VERSION }}"
          release_name: "Release ${{ env.CURRENT_VERSION }}"
          body: ${{ steps.changelog-ci.outputs.changelog }}
          draft: false
          prerelease: false

#        # Commit Changes to log
#      - name: Commit CHANGELOG.md
#        uses: stefanzweifel/git-auto-commit-action@v4
#        with:
#          branch: main
#          commit_message: 'docs: update CHANGELOG.md for ${{ env.CURRENT_VERSION }} [skip ci]'
#          file_pattern: CHANGELOG.md
